# If you do not have an organization, create one at https://app.turnkey.com/dashboard/auth/initial
TURNKEY_ORGANIZATION_ID=<your-organization-id>
# API credentials. They need to be attached to a user in your organization.
# These credentials must be a valid hex-encoded public/private key pair (P256)
TURNKEY_API_PUBLIC_KEY=<your-public-key>
TURNKEY_API_PRIVATE_KEY=<your-private-key>
