=begin
#API Reference

#Review our [API Introduction](../api-introduction) to get started.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
=end

module TurnkeyClient
  class BootProofApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a specific boot proof
    # Get the boot proof for a given ephemeral key.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [BootProofResponse]
    def get_boot_proof(body, opts = {})
      data, _status_code, _headers = get_boot_proof_with_http_info(body, opts)
      data
    end

    # Get a specific boot proof
    # Get the boot proof for a given ephemeral key.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BootProofResponse, Integer, Hash)>] BootProofResponse data, response status code and response headers
    def get_boot_proof_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BootProofApi.get_boot_proof ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BootProofApi.get_boot_proof"
      end
      # resource path
      local_var_path = '/public/v1/query/get_boot_proof'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'BootProofResponse' 

      auth_names = opts[:auth_names] || ['ApiKeyAuth', 'AuthenticatorAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BootProofApi#get_boot_proof\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get the latest boot proof for an app
    # Get the latest boot proof for a given enclave app name.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [BootProofResponse]
    def get_latest_boot_proof(body, opts = {})
      data, _status_code, _headers = get_latest_boot_proof_with_http_info(body, opts)
      data
    end

    # Get the latest boot proof for an app
    # Get the latest boot proof for a given enclave app name.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BootProofResponse, Integer, Hash)>] BootProofResponse data, response status code and response headers
    def get_latest_boot_proof_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BootProofApi.get_latest_boot_proof ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BootProofApi.get_latest_boot_proof"
      end
      # resource path
      local_var_path = '/public/v1/query/get_latest_boot_proof'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'BootProofResponse' 

      auth_names = opts[:auth_names] || ['ApiKeyAuth', 'AuthenticatorAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BootProofApi#get_latest_boot_proof\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
